# Where your SWAG data is stored on your host machine.
# Hint: Use the container side mount from your volume mount.
SWAG_PROXY_CONFS_DIR=/swag/proxy-confs

# Optional Docker inspection. Set to false to disable all Docker socket usage.
USE_DOCKER=true


# This is here because I created it with subdomain configs in mind. It is used to build the link URLs.
BASE_DOMAIN=example.com

# Optional GitHub repo for release update checks:
RELEASE_REPO=ydkmlt84/swagfront
