SWAG_PROXY_CONFS_DIR=/swag/proxy-confs
# Linux default:
# DOCKER_SOCKET_PATH=/var/run/docker.sock
# Windows Docker Desktop default:
# DOCKER_SOCKET_PATH=//./pipe/docker_engine
BASE_DOMAIN=example.com
